# ========================================
# SZABLON – skopiuj jako .env i uzupełnij
# ========================================

BASE_URL=http://localhost:8071/core-api

# Konto Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Konto Business
BUSINESS_EMAIL=
BUSINESS_PASSWORD=

